<h1>🌈 Signatures 🌈</h1>
<div>
    <br />
    <div><h2>Meet all Signers</h2></div>
    <div><a href="">
            <div class="signatures-list">
                <ul>
                    {{#rows}}
                        <li>
                            <a href="{{url}}">
                                {{first}}
                                {{last}}</a>
                            {{age}}

                            <a href="signers/{{city}}">{{city}}</a>
                        </li>
                    {{/rows}}
                </ul>
            </div>
        </a>
    </div>

</div>