<h1> Signatures </h1>
<div>
    <br />
    <div><h2>Meet all Signers</h2></div>
    <div><a href="">
            <div class="signatures-list">
                <ul>
                    {{#rows}}
                        <li class="signers-list">
                            <a style="text-decoration: none;" href="/{{url}}">
                                {{first}}
                                {{last}}</a>
                            {{age}}

                            <a
                                style="text-decoration: none;"
                                href="signers/{{city}}"
                            >{{city}}</a>
                        </li>
                    {{/rows}}
                </ul>
            </div>
        </a>
    </div>

</div>